html, body {
  background: #EEE;
  font-family: Arial;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

table {
  border: auto;
}

canvas {
  width: 500px;
  height: 500px;
  border: 1px solid #333;
}

h1 {
  background: #385C85;
  color: #FFF;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0px;
}

h1 a {
  color: #00AA00;
}

h2 {
  padding-left: 20px;
}

p {
  padding-left: 20px;
  line-height: 1.3em;
}

p a {
  color: #385C85;
}
